page-home {

  text-transform: uppercase;

  ion-content {
    border-top: $smp-color 8px solid;
    border-bottom: $smp-color 8px solid;
  }

  .header-apps {
    position: relative;
    height: auto;
    width: 100%;
  }

  .to-right {
    right: 0;
  }

  .to-top {
    top: 0;
  }

  .flexy-body {
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
  }

  .box-menu {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    text-align: center !important;
    cursor: pointer;
  }

  .column-4 {
    width: calc(1/4*100% - (1 - 1/4)*10px);
  }

  ion-img {
    background-color: rgba(255, 255, 255, 0);
  }

  .dropdown-container {
    width: 100%;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .paket-menu {
    width: 100%;
    height: 40px;
    font-family: "Ionicons";
    padding: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;

    span {
      font-size: 1.2em;
      line-height: 1.5;
    }

    ::after {
      content: "\f287";
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      font-size: 1.5em;
      -webkit-text-fill-color: #dedede;
    }
  }

  .paket-menu:hover {
    border-left: 10px solid;
    background-color: #FFF;

    ::after {
      -webkit-text-fill-color: $smp-color;
    }
  }

  .overlayer {
    width: 0;
    height: 100%;
    background-color: rgba(52, 152, 219, 0.443);
  }

  .overlayer:hover {
    width: 100%;
    color: #FFF;
  }

  .whitef4 {
    background-color: #f4f4f4 !important;
    color: $smp-color;
  }

  .logo-image {
    height: 140px;
    width: 125px;
    background-color: #3498db;
    margin-left: 80px;
    padding: 10px;
  }

  ion-footer {
    .toolbar-md {
      min-height: 35px;
    }

    .to-bottom {
      top: 2px;
      bottom: 0;
    }
  }

  .footer-social {
    min-height: 33px;
    right: 10px;
  }

  .footer-logo {
    min-height: 33px;
    width: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #home_footer .toolbar-md {
    min-height: 38px;
  }
}