// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.no-scroll {
  .scroll-content {
    overflow: hidden !important;
  }
}

.side-menu-container {
  display: relative;
  height: 50px;
  padding: 0 8px;
  cursor: pointer;
}

.side-menu-content {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.side-menu-text {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 10pt;
}

.scroll-content {
  overflow-y: auto;
  overflow-x: auto;
}

.spacing-15 {
  margin-bottom: 15px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-15 {
  padding-left: 15px;
}

.warning {
  background-color: orange !important;
}

.danger {
  background-color: #f00 !important;
  color: #ffffff;
}

.blues {
  background-color: $smp-color;
  color: #ffffff;
}

.magentas {
  background-color: #FF00FF;
  color: #ffffff;
}

.box-white {
  background-color: #FFF;
  color: $smp-color;
}

.grayed-white {
  background-color: #dedede;
  color: #5a5a5a;
}

.flat-green {
  background-color: #34a95f;
  color: #FFF;
}

.pastel-gray {
  background-color: #6897bb;
  color: #FFF;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.header-md::after {
  display: none;
}

ion-header {
  .toolbar-md {
    min-height: 65px;
    padding: 0;
  }
}

.overlay {
  background: rgba(0, 0, 0, .5);
}

.img-responsive {
  max-height: 100%;
  max-width: 100%;
}

.to-right {
  right: 5px;
}

.to-bottom {
  bottom: 5px;
}

.to-left {
  left: 5px;
}

.to-center {
  left: 0;
  right: 0;
}

.to-top-center {
  top: 50%;
  bottom: 50%;
}

.full-button {
  height: 100%;
  width: 100%;
}

.auto-margin {
  margin-right: auto;
  margin-left: auto;
}

.posAbs {
  position: absolute;
}

.to-top {
  top: 5px;
}

.no-padd {
  padding: 0;
}

@media only screen and (min-height: 600px) and (min-width: 768px) {
  .info-modal {
    .modal-wrapper {
      height: 285px;
    }
  }
}