page-quis {
    ion-content {
        background: #ffffff;
    }
    ion-range {
        position: absolute;
        top: 0;
        right: 10px;
        width: 200px;
    }
    .button-md {
        box-shadow: none;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .grid-con {
        width: 100%;
        height: 85%;
    }
    .div-soal {
        position: relative;
        width: 100%;
        height: 95%;
        .button {
            box-shadow: none !important;
            border: none;
        }
    }

    #helper-div {
        padding: 16px;
        bottom: 5%;
    }

    .div-choice {
        z-index: 2;
        width: 100%;
        min-height: 5vh;
        position: absolute;
        bottom: 0;
        background-color: #f4f4f4;
        border-top: 3px solid #00cbcb;
        .button-md {
            height: 2.5rem;
        }
    }
    .grid,
    .row {
        padding: 0;
        height: 100%;
    }
    .segmented-button input[type="radio"] {
        width: 0;
        height: 0;
        display: none;
    }
    .div-soal img {
        max-width: 100%;
        max-height: 100%;
        margin-left: 50px;
    }
    .left-full {
        position: absolute;
        left: 0;
        height: 100%;
        .button {
            height: 100%;
            width: 85px;
            box-shadow: none;
            border: none;
        }
        ion-icon {
            font-size: 4em;
        }
    }
    .right-full {
        position: absolute;
        right: 0;
        height: 100%;
        .button {
            height: 100%;
            width: 85px;
            box-shadow: none;
            border: none;
        }
        ion-icon {
            font-size: 4em;
        }
    }
    .center-full {
        padding: 5px;
        .button {
            box-shadow: none !important;
            border: none;
        }
    }
    // segmented style radio button
    .segmented-button label {
        display: -moz-inline-box;
        box-orient: vertical;
        display: inline-block;
        position: relative;
        margin: 0 5px;
    }
    .segmented-button .wrap-radio span {
        position: absolute;
        font-size: 15px;
        font-weight: bold;
        color: #000000;
        top: 8px;
        left: 20px;
    }
    .selected span {
        color: #ffffff;
    }
    .no-soal {
        padding: 10px;
        position: absolute;
        top: 33px;
        left: 2px;
    }
    .no-soal span {
        font-weight: bold;
        font-size: 14px;
    }
    .radio-md .radio-icon {
        width: 50px;
        height: 35px;
    }
    .radio-md .radio-inner {
        width: 42px;
        height: 27px;
    }
    .scroll-content {
        overflow: hidden;
    }
    .paneling {
        height: auto;
    }
    .mini-panel {
        width: 50px;
        height: 50px;
        position: fixed;
        top: 0;
        background: #2e2e2e;
        color: #fff;
    }
    .s-cut {
        max-height: 100%;
        .timing {
            height: 15%;
            background-color: teal;
            color: #fff;
            padding: 45px 0;
            font-size: 4rem;
        }
        .sc-btn {
            height: 80%;
            overflow-y: scroll;
        }
        .dev-footer {
            height: 5%;
            padding: 8px;
            background-color: #f4f4f4;
        }
        .z-wrapper {
            height: 100%;
            width: 100%;
            overflow: auto;
        }
    }

    //additional
    .to-top-center .button-md {
        height: 50px;
        width: 50px;
        font-size: 2.2rem;
        border-radius: 100%;
    }
}
