page-quis {
    ion-content {
        background: #ffffff;
    }

    ion-range {
        position: absolute;
        right: 10px;
        width: 200px;
    }

    ion-footer {
        .button-md {
            min-width: 85px;
        }
    }

    .z-wrapper {
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .timer-text {
        color: #fff;
    }

    .button-md {
        box-shadow: none;
        margin: 0;
    }

    .div-soal {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 4px;
    }

    .div-choice {
        width: fit-content;
        height: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .div-soal img {
        max-width: 100%;
        max-height: 100%;
    }

    // segmented style radio button
    .segmented-button label {
        display: -moz-inline-box;
        box-orient: vertical;
        display: inline-block;
        position: relative;
        margin: 0 5px;
    }

    .segmented-button .wrap-radio span {
        position: absolute;
        font-size: 15px;
        font-weight: bold;
        color: #FFF;
        top: 12px;
        left: 13px;
    }

    .radio-md {
        margin: 2px 0;
    }

    .radio-md .radio-icon {
        width: 37px;
        height: 37px;
        border-color: #fff;
    }

    .radio-md .radio-checked {
        border-color: #fecc0c;
    }

    .radio-md .radio-inner {
        background-color: #fecc0c;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        width: 29px;
        height: 29px;
    }

    .selected span {
        color: #ffffff;
    }

    .no-soal {
        padding: 10px;
        position: absolute;
        top: 33px;
        left: 2px;
    }

    .no-soal span {
        font-weight: bold;
        font-size: 14px;
    }

    .scroll-content {
        overflow: hidden;
    }

    .paneling {
        height: auto;
    }

    .mini-panel {
        width: 35px;
        height: 100%;
        position: absolute;
        background: #2e2e2e;
        color: #fff;
        z-index: 100;

        span {
            position: absolute;
            width: fit-content;
            height: fit-content;
        }
    }

    //additional
    .to-top-center .button-md {
        height: 50px;
        width: 50px;
        font-size: 2.2rem;
        border-radius: 100%;
    }

    .toolbar-up {
        min-height: 28px;
        padding: 0 10px;
    }

    .toolbar-background-md {
        border-color: #ffffff;
        background: #308cc9;
        color: #fff;
    }

    .toolbar-content-md {
        position: relative;
    }

    .half-circle-btn {
        height: 35px * 2;
        width: 35px;
        border-bottom-left-radius: 35px * 2;
        border-top-left-radius: 35px * 2;
        background-color: $smp-color;
        color: #fff;
        transition: right 0.2s ease-out;
    }

    .half-circle-btn.to-right {
        right: 0;
    }

    .center-vertical {
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    .center-horizontal {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .collapse-sidemenu {
        // width: 85px;
        width: 0;
        height: 450px;
        overflow-y: auto;
        transition: width 0.2s ease-out;
    }

    .sc-btn {
        height: 100%;
    }

    .collapse-sidemenu.to-right {
        right: 0;
    }

    .left-helper {
        position: absolute;
        width: fit-content;
        height: 100%;
        left: 0;

        button {
            height: 100%;
        }
    }

    .center-helper {
        width: fit-content;
        height: 100%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        display: flex;

        button {
            height: 100%;
        }
    }

    .right-helper {
        position: absolute;
        width: fit-content;
        height: 100%;
        right: 0;

        button {
            height: 100%;
        }
    }

    .zoomer {
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: #2e2e2e;
        color: #FFF;
    }

    #foot-up {
        width: 100%;
        height: 30px;
        background-color: $smp-color;
    }

    #foot-down {
        width: 100%;
        height: 40px;
        background-color: $smp-color-darker;
    }

    .ragu-color {
        background-color: #FFA500 !important;
    }
}