<!--
  Generated template for the QuisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- sidemenu -->

<!-- ////// -->

<ion-header>
  <div class="mini-panel">
    <span class="center-vertical center-horizontal">{{pos+1}}</span>
  </div>
  <ion-toolbar id="toolbar-quis" class="toolbar-up" text-center>
    <span class="timer-text" *ngIf="timeInSeconds && timeInSeconds > 0">{{displayTime}}</span>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="z-wrapper">
    <div #zoom class="div-soal" text-left (click)="r_click($event)">
      <!-- <img [src]="question" /> -->
      <img src="assets/soal/4/mtk/0001.png" class="img-responsive" />
    </div>
  </div>

  <div id="btn_sidemenu" class="half-circle-btn posAbs to-right center-vertical" (click)="sidemenuOpen()">
    <div class="container">
      <img class="img-responsive posAbs to-left center-vertical" src="assets/imgs/left-arrow.svg" />
    </div>
  </div>

  <div id="sc_sidemenu" class="collapse-sidemenu posAbs to-right center-vertical" (mouseleave)="sidemenuOpen()">
    <div class="sc-btn">
      <ion-list no-lines no-margin>
        <div *ngFor="let ig of ' '.repeat(limitedVal).split(''), let x = index">
          <button ion-item [color]="(x===pos)?'light':'dark'" id="sc{{x}}" class="flats" (click)="jump(x)">
            <span>{{x+1}}. </span>
            <span class="to-right" text-uppercase id="an-{{x}}" style="color:#2ec95c"></span>
          </button>
        </div>
      </ion-list>
    </div>
  </div>

  <ion-range class="zoomer slide-up" min="10" max="20" color="secondary" step="1" [(ngModel)]="scales" (ionChange)="fZoom()"
    [@slideInOut]="sliding" (mouseleave)="zoomOpen()">
    <ion-label range-left>
      <ion-icon name="remove"></ion-icon>
    </ion-label>
    <ion-label range-right>
      <ion-icon name="add"></ion-icon>
    </ion-label>
  </ion-range>
</ion-content>

<ion-footer>
  <div id="foot-up">
    <div class="container">

      <div class="center-helper posAbs">

        <button no-margin ion-button color="secondary" (click)="prevq(pos)">
          <ion-icon name="arrow-back"></ion-icon>
        </button>

        <button no-margin ion-button color="light" (click)="zoomOpen()">
          <ion-icon name="search"></ion-icon>
        </button>

        <button no-margin ion-button color="secondary" [style.display]="(pos == (limitedVal-1)) ? 'none' : 'block'"
          (click)="nextq(pos)">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>

      </div>

    </div>
  </div>

  <div id="foot-down">
    <div class="container">
      <div class="left-helper">
        <button no-margin ion-button color="warning" (click)="ragu(pos)">ragu</button>
      </div>

      <div class="div-choice">
        <form [formGroup]="cbForm">
          <div radio-group class="segmented-button" formControlName="listRadio" (ionChange)="jawab(pos,$event)">
            <label class="wrap-radio">
              <ion-radio value="a"></ion-radio>
              <span>A</span>
            </label>
            <label class="wrap-radio">
              <ion-radio value="b"></ion-radio>
              <span>B</span>
            </label>
            <label class="wrap-radio">
              <ion-radio value="c"></ion-radio>
              <span>C</span>
            </label>
            <label class="wrap-radio">
              <ion-radio value="d"></ion-radio>
              <span>D</span>
            </label>
          </div>
        </form>
      </div>

      <div class="right-helper">
        <button no-margin ion-button color="danger" (click)="finishAlt()">selesai</button>
      </div>
    </div>
  </div>
</ion-footer>