<!--
  Generated template for the KunciPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar text-capitalize>
    <ion-title>pembahasan</ion-title>
    <ion-buttons end>
      <button ion-button no-margin clear color="light">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-2 class="s-cut" no-padding>
        <div class="sc-btn">
          <ion-list no-lines no-margin>
            <div *ngFor="let ig of ' '.repeat(fin).split(''), let x = index">
              <button ion-item color="light">
                <ion-grid>
                  <ion-row>
                    <ion-col style="color: #660066;">
                      <span>{{x+1}}.</span>
                    </ion-col>
                    <ion-col class="fbold" style="color: #000000;">
                      <!-- <span *ngIf="items.myans === undefined || items.myans === null ">-</span>
                      <span *ngIf="items.myans !== undefined || items.myans !== null ">{{items.myans}}</span> -->
                    </ion-col>
                    <ion-col class="fbold" style="color: #0000ff;">
                      <!-- <span>{{items.answ}}</span> -->
                    </ion-col>
                    <ion-col class="fbold">
                      <!-- <h4 [style.color]="(items.myans === items.answ)?'#00ff00':'#e60042'">
                        <ion-icon [name]="(items.myans === items.answ)?'checkmark':'close'"></ion-icon>
                      </h4> -->
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </button>
            </div>
          </ion-list>
        </div>
      </ion-col>
      <ion-col class="s-cut" col-5 no-padding>
        <div class="box">
          <div class="numpos" text-center>
            <!-- <span>{{pos}}</span> -->
            <span>1</span>
          </div>
          <span>soal</span>
        </div>
        <div class="img-div">
          <div class="z-div">
            <!-- <img [src]="soals" /> -->
            <img src="assets/soal/4/bindo/0001.png" class="img-responsive" />
          </div>
        </div>
      </ion-col>
      <ion-col class="s-cut" col-5 no-padding>
        <!-- <div class="numpos" text-center *ngIf="pos !== 0">
            <span>{{pos}}</span>
          </div> -->
        <div class="box">
          <div class="numpos" text-center>
            <!-- <span>{{pos}}</span> -->
            <span>1</span>
          </div>
          <span>jawaban</span>
        </div>
        <div class="img-div">
          <div class="z-div">
            <!-- <img [src]="bahass" /> -->
            <img src="assets/soal/4/bindo/0001.png" class="img-responsive" />
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>