page-raport {
    .blues {
        background-color: $smp-color;
        color: #fff;
    }

    .container {
        .grid,
        .row {
            height: 100%;
        }
    }

    ion-header .toolbar-md {
        min-height: 33px;
    }

    // .list-mapel {
    //     background-color: 
    // }

    .top-nilai {
        width: 100%;
        height: 45%;
        background-color: $smp-color;
        position: relative;
    }

    .top-nilai::before {
        font-family: "Ionicons";
        content: "\f280";
        width: fit-content;
        height: fit-content;
        font-size: 7em;
        position: absolute;
        bottom: -66px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        color: $smp-color;
    }

    .down-analisis {
        position: relative;
        text-transform: capitalize;
        width: 100%;
        height: 55%;
    }

    .text-notwork {
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .nilai-box {
        background-color: #fff;
        height: 90px;
    }
}